.mySwiper2 {
  width: 704px;
  height: 520px;
}

.mySwiper {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0 0 0;
}

.mySwiper2-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper-slide-none {
  display: none;
}

.mySwiper-slide {
  padding-right: 11px;
}

.mySwiper .mySwiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
