.cards-clients-white {
  width: 336px;
  height: 141px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  transition: 0.5s;
}

.cards-clients-white:hover {
  transform: scale(1.1);
}

.cards-clients-white-wrap {
  height: 49px;
  display: flex;
  align-items: center;
}

.cards-clients-white-name {
  margin-left: 20px;
}

.cards-clients-white-name h2 {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  cursor: default;
}

.cards-clients-white-name p {
  color: #979797;
  font-size: 15px;
  font-weight: 400;
  cursor: default;
  margin-top: 4px;
}
